<div class="saints-container">
    <div *ngFor(let saint of saints) class="saints-container__card">
        <div class="saints-container__name">Blessed Rupert Meyer</div>
        <img class="saints-container__picture" src="https://upload.wikimedia.org/wikipedia/commons/6/64/RupertMayer.jpg" />
        <div class="saints-container__quote">Quote: Man must obey God more than men</div>
        <div class="saints-container__biography">Mayer was born in Stuttgart, Germany in 1876</div>
    </div>
</div>