.formGroup {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(3, 37rem);
    gap: 2rem;
    grid-auto-rows: 8rem;
}

.inputGroup {
    justify-self: end;
}

.canonizeInput {
    align-items: center;
    justify-self: start;
    display: flex;
}

.inputBox {
    margin: 1.5rem;
    width: 20rem;
}

.formButton {
    width: 10rem;
    align-self: center;
    justify-self: center;
}

.formButton--updateSaint {
    grid-area: 5/2/span 1/span 1;
}

.martyr-radio-group {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
  }