.saints-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6rem;
    row-gap: 4rem;
    margin: 3rem;
    justify-items: center;
    
    @include respond(tab-land) { // width < 900?
        grid-template-columns: repeat(3, 1fr);
    }
    
    @include respond(big-desktop) { // width < 900?
        grid-template-columns: repeat(5, 1fr);
    }
    
    @include respond(tab-port) { // width < 900?
        grid-template-columns: repeat(2, 1fr);
    }
    
    @include respond(phone) { // width < 900?
        grid-template-columns: 1fr;
    }
    
    &__card {
        display: grid;
        box-shadow: 0 1.5rem 4rem rgba(black, .8);
        justify-items: center;
        justify-self: stretch;
        background-color: khaki;
        row-gap: .5rem;
        padding: .5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 2rem 40rem 3rem 3rem;
        min-width: 25rem;
        max-width: 50rem;
    }
        
    &__picture {
        width: 94%;
        box-shadow: 0 1.5rem 4rem rgba(black, .8);
        padding: .5rem;
        justify-self: center;
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.inputBox {
    width: 45rem;
    height: 6rem;
    font-size: 2rem;
}