.saints-container:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  filter: blur(8rem);
  box-shadow: 0 0 8px 8px white inset;
  background-image: linear-gradient(to right, #80AAFF, #B3CCFF);
  width: 100%;
  height: 100%;
}

.saints-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  column-gap: 6.5rem;
  row-gap: 5rem;
  z-index: 0;
  margin: 3rem 11rem 3rem 11rem;
  padding: 3rem;
  justify-items: stretch;
}

.saints-card {
  height: 35vw;
  line-height: 1.85rem;
  perspective: 150rem;
  position: relative;
  align-self: stretch;
  height: 40rem;

  &__flip {
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s ease;
    display: grid;
    justify-items: center;
    justify-self: stretch;
    row-gap: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 80%;
    height: 100%;
    width: 100%;
    border-radius: 0.3rem;

    &--front {
      background-color: rgb(237, 220, 151);
      box-shadow: 0 1.5rem 4rem rgba(black, 0.8);
      overflow: hidden;

      &--blessed {
        background-color: grey;
      }
    }

    &--back {
      background-color: #69f0ae;
      transform: rotateY(180deg);
      overflow: hidden;
      width: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr;
      min-height: 100%;
    }
  }

  &__picture {
    width: 94%;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.8);
    padding: 0.5rem;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-area: 1/1 / span 6 / span 5;
  }

  &__name {
    font-size: 3rem;
    align-self: center;
    line-height: 2.5rem;
  }

  &__text {
    font-size: 2.7rem;
    line-height: 2.7rem;
  }

  &:hover &__flip--front,
  &:hover &__flip--front--blessed {
    transform: rotateY(-180deg);
  }

  &:hover &__flip--back {
    transform: rotateY(0);
  }
}

.inputBox {
  width: 45rem;
  height: 6rem;
  font-size: 2rem;
}

.text-block {
  padding: 0.5rem;
}

.spacer {
  width: 100%;
  height: 2.5rem;
}

.example-radio-group {
  display: grid;
}

.mat-radio-group {
  grid-template-columns: 25rem;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.martyr__img {
  width: inherit;
  grid-area: 1/5 / span1/span2;
}


.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:rgb(51,85,255); 
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:rgb(66, 134, 244);
  background-color:rgb(51,85,255) ;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgba(255, 37, 37,.26);
}