<input [formControl]="searchSaint" type="text" class="inputBox">
<button (click)="getSaint()">Get Saint</button>

<div class="inputBox">
  <div *ngIf="saint" class="formGroup">
    <div class="inputGroup">
      <label for="name">Name: </label>
      <input [disabled]="true" [(ngModel)]="saint.name" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="biography">Biography: </label>
      <input [(ngModel)]="saint.biography" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="pictureUrl">PictureURL: </label>
      <input [(ngModel)]="saint.pictureUrl" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="quote">Quote: </label>
      <input [(ngModel)]="saint.quote" type="text" class="inputBox">
    </div>
  
    <div class="inputGroup">
      <label for="quote">Status: </label>
      <input [(ngModel)]="saint.status" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="quote">Beatified: </label>
      <input [(ngModel)]="saint.beatifiedYear" type="text" class="inputBox">
    </div>
    
    <mat-radio-group class="martyr-radio-group" [(ngModel)]="saint.martyr">
      <div class="example-radio-button">Martyr?</div>
      <mat-radio-button class="example-radio-button" [value]="true">Yes</mat-radio-button>
      <mat-radio-button class="example-radio-button" [value]="false">No</mat-radio-button>
    </mat-radio-group>
    
    <div class="inputGroup">
      <label for="quote">Canonized: </label>
      <input [(ngModel)]="saint.canonizedYear" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="quote">Country: </label>
      <input [(ngModel)]="saint.country" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="quote">Born: </label>
      <input [(ngModel)]="saint.birthDate" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="quote">Died: </label>
      <input [(ngModel)]="saint.deathYear" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="quote">Feast Day: </label>
      <input [(ngModel)]="saint.feastDay" type="text" class="inputBox">
    </div>
    
    <button class="formButton--updateSaint" (click)="updateSaint()">Update Saint</button>
  </div>
  
  
  <div *ngIf="!saint" class="formGroup">
    
    <div class="canonizeInput">
      <label for="name">Name: </label>
      <input [formControl]="name" type="text" class="inputBox">
      <button class="formButton" (click)="sendSaint()">Canonize</button>
    </div>
<!--     
    <div class="inputGroup">
      <label for="biography">Biography: </label>
      <input [formControl]="biography" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="pictureUrl">PictureURL: </label>
      <input [formControl]="pictureUrl" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="quote">Quote: </label>
      <input [formControl]="quote" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="quote">Status: </label>
      <input [formControl]="status" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="quote">Country: </label>
      <input [formControl]="status" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="quote">Born: </label>
      <input [formControl]="status" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="quote">Died: </label>
      <input [formControl]="status" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="quote">Canonized: </label>
      <input [formControl]="status" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="quote">Beatified: </label>
      <input [formControl]="status" type="text" class="inputBox">
    </div>
    
    <div class="inputGroup">
      <label for="quote">Feast Day: </label>
      <input [formControl]="status" type="text" class="inputBox">
    </div> -->

  </div>
  
  
<form *ngIf="!saint" class="inputGroup" #f="ngForm" (ngSubmit)="deleteSaint(f, first.value)" novalidate>
  <input style="width: 13rem; font-size: 2.5rem;" ngModel required #first="ngModel">
  <input style="width: 13rem; font-size: 2.5rem;" name="last" ngModel>
  <button>Submit</button>
</form>

</div>